---
import hero1 from "../../assets/culture/hero-1.png";
import hero2 from "../../assets/culture/hero-2.png";
import hero3 from "../../assets/culture/hero-3.png";
import hero4 from "../../assets/culture/hero-4.png";
---

<section
  class='px-2 md:px-6 fade-in-up w-full max-w-full overflow-hidden'
  style='animation-delay: 1400ms;'
>
  <div
    class='lg:bg-neutral-950 grid grid-cols-1 md:grid-cols-2 px-4 md:px-6 py-10 gap-y-10 gap-x-6 lg:border border-neutral-800 mt-2 w-full max-w-full'
  >
    <div class='col-span-1 md:col-span-2 text-[10px]'>
      <button class='bg-stone-50 rounded-lg text-neutral-900 px-3 py-2'
        >Company</button
      ><button class='border rounded-lg text-stone-50 border-stone-50 px-3 py-2'
        >Culture</button
      >
    </div>
    <h2
      class='text-stone-100 text-5xl md:text-6xl lg:text-7xl leading-tight font-host'
    >
      Locate your uncharted passion <i>here</i>.
    </h2>
    <div
      class='grid grid-cols-2 text-stone-300 text-sm md:text-lg gap-y-4 gap-x-6'
    >
      <p>
        We're creating an environment to keep everyone standout with their
        talents and be able to cherish each and every unique qualities that we
        have.
      </p>
      <p>
        Dare to act, own the work, be the truest you. Seizing opportunities
        daily, that’s how we do.
      </p>
    </div>
  </div>
  <div
    class='flex md:grid md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 w-full overflow-x-auto md:overflow-x-visible pb-4 md:pb-0 -mx-2 px-2 md:mx-0 md:px-0'
  >
    <!-- 1 -->
    <div
      class='flex-shrink-0 w-[320px] md:w-auto md:col-span-1 rounded-sm p-3 md:p-4 space-y-3 md:space-y-4 group gradient-border-1 hover:bg-black/16'
    >
      <div class='grid grid-cols-2 gap-2 items-end'>
        <h5 class='text-lg md:text-2xl text-stone-50 line-clamp-3'>
          People can Count on Us.
        </h5>
        <p
          class='text-[10px] text-neutral-400 group-hover:text-stone-200 border border-neutral-600 group-hover:border-stone-200 rounded-xl px-2 py-1 text-center justify-self-end'
        >
          Commitment
        </p>
      </div>
      <img
        src={hero1.src}
        alt=''
        class='w-full h-[12rem] md:h-auto object-cover rounded-sm'
      />
      <p class='text-neutral-400 text-sm'>
        Technologies that integrate, process, analyze, and visualize big data
        for your collective’s solution.
      </p>
    </div>

    <!-- 2 -->
    <div
      class='flex-shrink-0 w-[320px] md:w-auto md:col-span-1 rounded-sm p-3 md:p-4 space-y-3 md:space-y-4 group gradient-border-1 hover:bg-black/16'
    >
      <div class='grid grid-cols-2 gap-2 items-end'>
        <h5 class='text-lg md:text-2xl text-stone-50 line-clamp-3'>
          Take Risk, Take Ownership.
        </h5>
        <p
          class='text-[10px] text-neutral-400 group-hover:text-stone-200 border border-neutral-600 group-hover:border-stone-200 rounded-xl px-2 py-1 text-center justify-self-end'
        >
          Courageous
        </p>
      </div>
      <img
        src={hero2.src}
        alt=''
        class='w-full h-[12rem] md:h-auto object-cover rounded-sm'
      />
      <p class='text-neutral-400 text-sm'>
        Connect to IoT and AI tools, models, or hardwares for furhterly advanced
        and integrated problem solving.
      </p>
    </div>

    <!-- 3 -->
    <div
      class='flex-shrink-0 w-[320px] md:w-auto md:col-span-1 rounded-sm p-3 md:p-4 space-y-3 md:space-y-4 group gradient-border-1 hover:bg-black/16'
    >
      <div class='grid grid-cols-2 gap-2 items-end'>
        <h5 class='text-lg md:text-2xl text-stone-50 line-clamp-3'>
          Setting our Priorities Right
        </h5>
        <p
          class='text-[10px] text-neutral-400 group-hover:text-stone-200 border border-neutral-600 group-hover:border-stone-200 rounded-xl px-2 py-1 text-center justify-self-end'
        >
          Focused
        </p>
      </div>
      <img
        src={hero3.src}
        alt=''
        class='w-full h-[12rem] md:h-auto object-cover rounded-sm'
      />
      <p class='text-neutral-400 text-sm'>
        Advanced tools that Braga provides helps to come up with analytics that
        beneficial to tackle various challanges.
      </p>
    </div>

    <!-- 4 -->
    <div
      class='flex-shrink-0 w-[320px] md:w-auto md:col-span-1 rounded-sm p-3 md:p-4 space-y-3 md:space-y-4 group gradient-border-1 hover:bg-black/16'
    >
      <div class='grid grid-cols-2 gap-2 items-end'>
        <h5 class='text-lg md:text-2xl text-stone-50 line-clamp-3'>
          Be Your True and Honest Self.
        </h5>
        <p
          class='text-[10px] text-neutral-400 group-hover:text-stone-200 border border-neutral-600 group-hover:border-stone-200 rounded-xl px-2 py-1 text-center justify-self-end'
        >
          Openness
        </p>
      </div>
      <img
        src={hero4.src}
        alt=''
        class='w-full h-[12rem] md:h-auto object-cover rounded-sm'
      />
      <p class='text-neutral-400 text-sm'>
        Not bounded by space and time, we help in multiple platforms, adapting
        to different conditions and terrains.
      </p>
    </div>
  </div>
</section>
