---
import arrow from "../../assets/about/arrow.svg";
import decor from "../../assets/culture/decor.png";
---

<section class="mt-12 px-6 w-full">
    <div class="w-full relative">
        <img src={decor.src} alt="" class="w-full h-auto" />
        <article
            class="absolute top-0 left-0 w-full h-full flex flex-col justify-between pt-[25%] pb-[30%]"
        >
            <div class="flex justify-between px-9 w-full">
                <h4 class="text-stone-50 text-5xl w-1/4">
                    only good well-being leads to well-working
                </h4>
                <p class="text-stone-200 w-1/4">
                    More than our work, we are valuable as aperson. As much as
                    you do your best at work, We are committed at prioritizing
                    and improving your well-being.
                </p>
            </div>
            <div class="flex justify-between px-9 w-full">
                <h4 class="text-stone-50 text-4xl w-1/4 opacity-10">
                    only good well-being leads to well-working
                </h4>
                <p class="text-stone-200 w-1/4">
                    More than our work, we are valuable as aperson. As much as
                    you do your best at work, We are committed at prioritizing
                    and improving your well-being.
                </p>
            </div>
            <div class="flex justify-between px-9 w-full">
                <h4 class="text-stone-50 text-4xl w-1/4 opacity-10">
                    only good well-being leads to well-working
                </h4>
                <div class="w-1/4">
                    <p class="text-stone-200">
                        Braga’s living systems, and playbook are designed to
                        ensure you have a wholly impeccable experience here.
                    </p>
                    <button
                        class="bg-orange-700 py-2 px-3 text-sm text-white rounded-sm flex space-x-2 mt-8"
                        ><p>Grow With Us</p><img
                            src={arrow.src}
                            alt=""
                        /></button
                    >
                </div>
            </div>
        </article>
    </div>
</section>
