<section class="mx-6 my-12 py-9 border-t border-orange-500 relative">
    <h6 class="text-orange-500 text-xl">Managed Service Solutions</h6>
    <div class="sm:grid grid-cols-4 gap-x-6 space-y-8 sm:space-y-0">
        <h3 class="text-neutral-800 text-4xl mt-2 mb-3 col-span-1">
            Flexible expertise, tailored to your needs
        </h3>
        <p class="text-neutral-700 text-lg col-span-3">
            Braga’s Managed Service offers companies the freedom to choose how
            projects are delivered. Whether handled fully by our inhouse team or
            through manpower placement within your organization, we provide the
            right talent to meet your operational and development needs. This
            approach ensures efficiency, seamless execution, and reduced
            overhead—so you can focus on outcomes, not resourcing challenges.
        </p>
    </div>
    <div></div>
    <div class="col-span-3">
        <div>
            <h5>Value Pillars</h5>
            {
                [1, 2, 3, 4].map((e) => (
                    <div>
                        <>
                            <img src="" alt="" />
                            <h6>Flexibility</h6>
                            <p>
                                Select the model that fits your business:
                                inhouse or on-site.
                            </p>
                        </>
                    </div>
                ))
            }
        </div>
    </div>
</section>
