---
import decor from "../../assets/service/process-decor.svg";
---

<section
    class="mx-6 my-12 py-9 border-t border-orange-500 relative overflow-hidden"
>
    <!-- <div
        id={"canvas-6"}
        class="absolute top-0 -right-[15%] h-full w-3/4 hidden sm:block"
    >
    </div> -->

    <div class="absolute top-0 right-0 h-full w-1/2 hidden sm:block">
        <img
            src={decor.src}
            alt=""
            class="absolute w-full h-[calc(100%-12rem)] top-16 right-0 object-fit object-top-right"
        />
        <div id={"canvas-1"} class="w-[160%] -ml-[26%] mt-[9%]"></div>
        <div id={"canvas-2"} class="w-[180%] -ml-[31%] -mt-[15%] -scale-x-100">
        </div>
        <div id={"canvas-3"} class="w-[180%] -ml-[31%] -mt-[49%] -scale-x-100">
        </div>
        <div id={"canvas-4"} class="w-[180%] -ml-[24%] -mt-[25%]"></div>
        <div id={"canvas-5"} class="w-[100%] -ml-[14%] -mt-[55%]"></div>
    </div>

    <h6 class="text-orange-500 text-xl">Process</h6>
    <div class="sm:grid grid-cols-4 gap-x-6 space-y-8 sm:space-y-0">
        <div class="col-span-2">
            <h3 class="text-neutral-800 text-4xl sm:text-5xl mt-2 mb-3">
                We adapt our process to each project’s unique needs.
            </h3>
            <p class="text-neutral-700 text-sm sm:text-lg">
                For your time to be valued, and make sure every feedback is
                listened. We treat each project uniquely to its needs by
                utilizing the best aspects of agile, lean, and waterfall methods
                to deliver the services at its maximum potential.
            </p>
        </div>
    </div>
    <div
        class="grid sm:grid-cols-2 mt-24 sm:mt-30 gap-y-8 sm:gap-y-40 sm:mb-96 overflow-x-hidden"
    >
        {
            [
                {
                    title: "Facilitate",
                    list: "Consultancy<br />Interview and Survey.<br /> Research<br /> Benchmarking<br /> Workshop<br /><br />Analysis<br /> User Stories<br /> Timeline and Scope<br />PRD",
                },
                {
                    title: "Design",
                    list: "UX Design<br />UI Design<br />Visual Design<br />Mockup<br />Prototype",
                },
                {
                    title: "Development",
                    list: "Front End <br />Function, and Optimization<br />Back End, <br />Database and Security<br />Integration<br />Testing<br />EnE Cost, Unit Test, UAT<br />QA",
                },
                {
                    title: "Delivery",
                    list: "Deployment<br />Product Handoff <br />(Kit, System, Guides, etc)<br />Monitoring & Control",
                },
            ].map(({ title, list }) => (
                <>
                    <>
                        <div class="flex justify-end space-x-6">
                            <h6 class="text-neutral-800 text-base sm:text-2xl">
                                {title}
                            </h6>
                            <p
                                class="text-neutral-900 text-xs sm:text-xl w-72"
                                set:html={list}
                            />
                        </div>
                        <div />
                    </>
                </>
            ))
        }
    </div>
</section>
