---
import powered1 from "../../assets/poin/powered-1.svg";
import powered2 from "../../assets/poin/powered-2.svg";
import powered3 from "../../assets/poin/powered-3.svg";
import powered4 from "../../assets/poin/powered-4.svg";

const powered = [
  {
    image: powered1,
    title: "Data Acquisition",
    description:
      "Data acquisition is the initial and crucial step in geospatial information management. We possess the expertise to acquire data from diverse sources, encompassing remote sensing imagery, web scraping, data mining, and mobile applications for crowdsourcing.",
    subtitle:
      "We meticulously ensure that the data we acquire is of high quality and aligns with your project's specific requirements.",
  },
  {
    image: powered2,
    title: "Data Processing [Moderation and Validation]",
    description:
      "Once data is acquired, our team of experts utilizes advanced software such as GDAL, GEOS, and QGIS to perform comprehensive geospatial data processing. We possess extensive expertise in transforming, analyzing, and manipulating geographic data to ensure its usability for a wide range of applications, including:",
    subtitle:
      "Geospatial modeling: Creating realistic simulations of geographic phenomena to support decision-making. Spatial analysis: Identifying patterns and trends in geographic data to gain deeper insights. Mapping: Visualizing geographic data to communicate information effectively.",
  },
  {
    image: powered3,
    title: "Data Storage Security",
    description:
      "We prioritize data security and availability, ensuring that your information is always safe and accessible as we understood the critical importance of efficient and secure data storage. ",
    subtitle:
      "We offer customized storage solutions tailored to your specific needs. Our team of experts can manage your geographic database using cutting-edge technologies such as PostGIS, both in the cloud and on-premise.",
  },
  {
    image: powered4,
    title: "Data Publication and Consultancy",
    description:
      "Secure and Efficient Publication of Your Geospatial Data We empower our clients to publish their geospatial data by building robust API Gateways. Utilizing cutting-edge technologies, we ensure your data is accessible to internal and external users in a secure and efficient manner.",
    subtitle:
      "Our integrated visualization platform seamlessly connects with data collection and moderation processes, enabling real-time tracking and analysis. Furthermore, we develop interactive and user-friendly web and mobile applications, facilitating information sharing and the extraction of geospatial insights for data-driven decision-making.",
  },
];
---

<section
  class='mx-4 lg:mx-6 mt-6 pt-6 border-t border-stone-200 lg:grid grid-cols-12 gap-x-6'
>
  <div class='lg:col-span-3 mb-8 lg:mb-0'>
    <h5 class='text-rose-500 text-xl lg:text-2xl mb-3 lg:mb-4'>
      Powered by Braga
    </h5>
    <h2 class='text-2xl lg:text-4xl leading-tight'>
      Sustainably Accelerating through Geospatial Technology.
    </h2>
  </div>
  <div class='lg:col-span-9'>
    <h1 class='text-3xl lg:text-6xl mb-12 pt-0 lg:pt-8 leading-tight'>
      Revolutionizing industries by leveraging cutting-edge geospatial data to
      drive sustainable growth and innovation.
    </h1>
    <div class='space-y-8 lg:space-y-12'>
      {
        powered.map(({ image, title, description, subtitle }) => (
          <div class='fade-in-up'>
            <div class='flex items-center space-x-3 border-b border-rose-500 mb-4 lg:mb-6 pb-3 lg:pb-4'>
              <img
                src={image.src}
                alt=''
                class='w-10 h-10 lg:w-12 lg:h-12 flex-shrink-0'
              />
              <h6 class='text-rose-500 text-xl lg:text-3xl leading-tight'>
                {title}
              </h6>
            </div>
            <div class='lg:grid lg:grid-cols-2 gap-x-6 gap-y-4 pl-0 lg:pl-14 space-y-4 lg:space-y-0'>
              <p class='text-sm lg:text-base text-neutral-700 leading-relaxed ml-12 lg:ml-0'>
                {description}
              </p>
              <p class='text-sm lg:text-base text-neutral-700 leading-relaxed ml-12 lg:ml-0'>
                {subtitle}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
