<section class="px-6">
    <div class="w-full pt-8">
        <div class="bg-neutral-900 py-8 border border-neutral-800">
            <h6 class="text-orange-500 text-xl">About Us</h6>
            <div class="grid grid-cols-2">
                <h4 class="text-stone-50 text-4xl">Background</h4>
                <p class="text-neutral-400 text-lg">
                    PT Braga Teknologi Nusantara is a national private company
                    domiciled in the city of Bandung, established 2019 with the
                    aim of to provide professional services in the field of
                    Technology Services, and Geospatial Data.
                </p>
            </div>
        </div>
        <img src="/screen/temporary.png" alt="" class="w-full" />
    </div>
</section>
