---
import bgHero from "../../assets/about/bg_hero.svg";
---

<img src={bgHero.src} alt="" class="absolute top-0 left-0 w-full h-auto -z-10" />

<section class="px-6">
    <div class="flex flex-col justify-center items-center py-16 space-y-9">
        <h6 class="text-orange-500 text-xl">Our Vision</h6>
        <h2 class="text-stone-100 text-7xl w-2/3 text-center">
            The Digital Solution Leader harnessing Geospatial Technology to
            advance decision-making that shapes our future.
        </h2>
        <div class="text-stone-300 text-lg flex w-1/2 text-justify space-x-6">
            <p>
                Braga Technologies through our Geospatial Expertise, Mapping
                Technologies, and our group of analysts, thinkers, and makers
            </p><p>
                Aims to help those who could benefit from spatial insights by
                sharing our unique perspective of perceiving the world’s issues.
            </p>
        </div>
    </div>
</section>
