<section class="px-6 mb-12">
    <div class="w-full pt-8 mb-12">
        <h6 class="text-orange-500 text-xl">History</h6>
        <div class="grid grid-cols-2">
            <h4 class="text-stone-50 text-4xl">Journey and Milestones</h4>
            <p class="text-neutral-400 text-lg">
                At Braga Technologies, we offer innovative solutions ranging
                from products and services that are tailored to suit your unique
                needs. Discover them below.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-7 gap-6">
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">2019 – Founded</p>
            <h6 class="text-white text-xl">Laying the Foundation</h6>
            <p class="text-neutral-400 text-lg">
                Focusing on reliable data services.
            </p>
        </div>
        <div></div>
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">
                2021 – Driving Custom Innovation
            </p>
            <h6 class="my-1 text-white text-xl">GIS Development</h6>
            <p class="text-neutral-400 text-lg">
                Delivering tailored GIS solutions.
            </p>
        </div>
        <div></div>
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">
                2023 – Building National Trust
            </p>
            <h6 class="my-1 text-white text-xl">Central Government Adoption</h6>
            <p class="text-neutral-400 text-lg">
                Supporting central government with GIS.
            </p>
        </div>
        <div></div>
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">2025 – GIS for Everyone</p>
            <h6 class="my-1 text-white text-xl">Logbook Launched</h6>
            <p class="text-neutral-400 text-lg">
                Making GIS simple and accessible.
            </p>
        </div>

        <img src="/screen/rectangle-1.png" alt="" />
        <img src="/screen/rectangle-2.png" alt="" />
        <img src="/screen/rectangle-3.png" alt="" />
        <img src="/screen/rectangle-4.png" alt="" />
        <img src="/screen/rectangle-5.png" alt="" />
        <img src="/screen/rectangle-6.png" alt="" />
        <img src="/screen/rectangle-7.png" alt="" />

        <div></div>
        <img src="/screen/rectangle-8.png" alt="" />
        <img src="/screen/rectangle-9.png" alt="" />
        <div class="border-l-2 border-orange-500 relative">
            <div
                class="absolute h-6 w-[2px] -left-[2px] -bottom-6 bg-orange-500"
            >
            </div>
        </div>
        <img src="/screen/rectangle-10.png" alt="" />
        <img src="/screen/rectangle-11.png" alt="" />
        <div></div>

        <div></div>
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">
                2020 – Transforming Data Collection
            </p>
            <h6 class="my-1 text-white text-xl">Poin Launched</h6>
            <p class="text-neutral-400 text-lg">
                Introducing smarter POI data gathering.
            </p>
        </div>
        <div></div>
        <div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">
                2022 – Redefining GIS Insights
            </p>
            <h6 class="my-1 text-white text-xl">Geodashboard Launched</h6>
            <p class="text-neutral-400 text-lg">
                Enabling advanced visualization and analytics.
            </p>
        </div>
        <div></div><div class="border-l-2 pl-4 border-orange-500">
            <p class="text-neutral-500 text-base">
                2024 – Empowering Enterprises
            </p>
            <h6 class="my-1 text-white text-xl">Private Sector Expansion</h6>
            <p class="text-neutral-400 text-lg">
                Bringing Geodashboard to private industries.
            </p>
        </div>
    </div>
</section>
