<section class="px-6 mb-12 mt-20">
    <div
        class="w-full h-[48rem] rounded-sm overflow-hidden grid grid-cols-2 gap-6 p-10 custom-bg"
    >
        <div class="flex flex-col justify-between z-0">
            <h3 class="text-stone-50 text-5xl">Office</h3>
            <div class="grid grid-cols-2 gap-9">
                <div>
                    <h5 class="text-stone-50 text-4xl mb-6">BDO</h5>
                    <p class="text-xl text-stone-300">
                        Jl. Cilaki No. 23, Cihapit, Bandung Wetan, Kota Bandung
                        40114
                    </p>
                    <p class="text-xl text-stone-300">
                        Phone (+62) 813-8404-1190
                    </p>
                </div>
                <div>
                    <h5 class="text-stone-50 text-4xl mb-6">JKT</h5>
                    <p class="text-xl text-stone-300">
                        Jl. Cilaki No. 23, Cihapit, Bandung Wetan, Kota Bandung
                        40114
                    </p>
                    <p class="text-xl text-stone-300">
                        Phone (+62) 813-8404-1190
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .custom-bg {
        border-radius: var(--gd-radius-xs, 8px);
        background:
            linear-gradient(
                183deg,
                rgba(25, 25, 25, 0) 3.86%,
                var(--Color-Neutral-Neutral-950, #161414) 90.13%
            ),
            url("/about/office.png") lightgray 50% / cover no-repeat;
        background-blend-mode: multiply, normal;
    }
</style>
