---
import heroPattern from "../../assets/poin/hero-pattern.svg";
---

<section
    class="bg-yellow-900 sm:grid grid-cols-2 mx-3 sm:mx-6 mt-3 rounded-lg relative px-6 py-9 sm:p-9 overflow-hidden fade-in-up"
    style="animation-delay: 1400ms;"
>
    <div
        id={"canvas-0"}
        class="absolute h-1/2 sm:h-full top-0 -right-[20%] scale-[200%] sm:scale-125 lg:scale-150"
    >
    </div>
    <img
        src={heroPattern.src}
        alt=""
        class="absolute h-full w-auto sm:h-auto sm:w-full top-0 left-0"
    />
    <div>
        <div class="mb-64">
            <span
                class="text-yellow-950 bg-stone-50 px-3 py-2 rounded-lg text-xs"
                >Initiative</span
            >
        </div>
        <div class="space-y-6">
            <h3 class="text-4xl sm:text-7xl w-full sm:w-auto text-stone-50">
                Where Geospatial Data Drives Positive Change.
            </h3>
            <p
                class="text-sm sm:text-lg w-full sm:w-5/6 text-neutral-400 opacity-90"
            >
                Our firm conviction is that geospatial knowledge holds the power
                to drive positive change when infused with purpose and empathy.
            </p>
        </div>
    </div>
</section>
