---
import arrowBar from "../../assets/initiatives/arrow-bar.svg";
---

<section class="mx-6 my-12 py-9 border-t border-neutral-400">
    <h6 class="text-orange-500 text-xl">Our Initiative</h6>
    <div class="sm:grid grid-cols-4 gap-x-6 space-y-8 sm:space-y-0">
        <div class="col-span-1">
            <h3 class="text-neutral-800 text-4xl sm:text-4xl mt-2 mb-3">
                Extending the power of geospatial tech.
            </h3>
        </div>
        <article class="col-span-3">
            <h2 class="text-black text-6xl">
                We envision a world where geospatial technology uplifts and
                connects communities.
            </h2>
            <h2 class="text-black text-6xl mt-18 mb-9">
                Our social initiatives reflect our deep commitment to making a
                meaningful difference in this vision.
            </h2>
            <div class="w-1/2">
                <p class="text-xl text-neutral-800">
                    Engaging in partnerships with stakeholders, non-governmental
                    organizations (NGOs), communities, first responders, and
                    collectives, we disseminate our geospatial methodologies to
                    provide accessible insights.
                </p>
                <p class="text-xl text-neutral-800 mt-6 mb-9">
                    Throughout this process, we cultivate a harmonious
                    relationship between technological expertise and
                    human-centric requirements, aiming to enhance effectiveness
                    and relevance in our solutions.
                </p>
            </div>
            <button
                class="flex py-2 px-3 space-x-6 border border-r-neutral-800 rounded-sm"
                ><p class="text-sm text-neutral-800">Explore Below</p>
                <img src={arrowBar.src} alt="" />
            </button>
        </article>
    </div>
</section>
