---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Geodashboard from "../components/Geodashboard.astro";
import Hero from "../components/Hero.astro";
import Logbook from "../components/Logbook.astro";
import Service from "../components/Service.astro";
import Testimoni from "../components/Testimoni.astro";
import Works from "../components/Works.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout theme="dark">
	<Hero />
	<Service />
	<Geodashboard />
	<Logbook />
	<Testimoni />
	<Works />
	<Contact />
	<Footer />
	<div class="w-full h-6"></div>
</Layout>
