---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Geodashboard from "../components/Geodashboard.astro";
import Hero from "../components/Hero.astro";
import Logbook from "../components/Logbook.astro";
import Service from "../components/Service.astro";
import Testimoni from "../components/Testimoni.astro";
import Works from "../components/Works.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout theme="dark">
	<div class="typo-landing">
		<Hero />
		<Service />
		<Geodashboard />
		<Logbook />
		<Testimoni />
		<Works />
		<Contact />
		<Footer theme="dark" />
		<div class="w-full h-6"></div>
	</div>
</Layout>

<style is:global>
	.typo-landing h1,
	.typo-landing h2,
	.typo-landing h3,
	.typo-landing h4,
	.typo-landing h5,
	.typo-landing h6 {
		font-family: "Host-Grotesk", sans-serif;
	}

	.gradient-border-1 {
		position: relative;
		border-radius: 4px;
	}

	.gradient-border-1::before {
		content: "";
		position: absolute;
		inset: 0;
		padding: 1px;
		background: #232221;
		border-radius: inherit;
		mask:
			linear-gradient(#000 0 0) content-box,
			linear-gradient(#000 0 0);
		mask-composite: xor;
		-webkit-mask-composite: xor;
		transition: background 0.3s ease; /* Smooth transition */
	}

	.gradient-border-1:hover::before {
		background: linear-gradient(
			180deg,
			rgba(205, 84, 27, 0),
			rgb(243, 106, 29)
		);
	}
</style>
