---

---

<section class='hero-section px-6'>
  <div class='flex gap-2 px-4 fade-in-up' style='animation-delay: 750ms;'>
    <button class='px-3 py-2 text-[10px] bg-stone-50 text-black rounded-lg'
      >Company</button
    >
    <button
      class='px-3 py-2 text-[10px] border border-white text-white rounded-lg'
    >
      Contact
    </button>
  </div>
  <div
    class='flex flex-col lg:grid lg:grid-cols-2 lg:gap-12 space-y-6 lg:space-y-0 fade-in-up px-4 mt-10'
    style='animation-delay: 1000ms;'
  >
    <h1 class='text-stone-100 text-4xl lg:text-7xl leading-tight w-2/3'>
      Get in touch with us.
    </h1>
    <p class='text-stone-300 text-base lg:text-lg mt-4'>
      See how Braga Technologies could help solve your problem through our
      geospatial knowledge and approach.
    </p>
  </div>
</section>

<style>
  .hero-section {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    background-color: #171717;
  }

  @media (min-width: 1024px) {
    .hero-section {
      padding-top: 2.5rem;
    }
  }
</style>
