---

---

<section class='py-12 lg:py-24 mx-6 border-t border-[#232221]'>
  <div class='flex flex-col md:flex-row w-full gap-8'>
    <div class='md:w-[30%] fade-in-up' style='animation-delay: 750ms;'>
      <div class='space-y-2'>
        <p class='text-stone-100 text-xl'>Visit us at</p>
        <h2 class='text-stone-100 text-3xl leading-12'>
          Braga Technologies Offices
        </h2>
      </div>
    </div>

    <div
      class='w-full md:w-[95%] grid lg:grid-cols-2 gap-8 border-[#232221] border-y p-6 bg-neutral-900'
    >
      <div class='space-y-6 fade-in-up' style='animation-delay: 1000ms;'>
        <div class='text-stone-400 text-sm'>01</div>
        <div class='border w-full border-[#232221]'></div>
        <div>
          <h3 class='text-stone-100 text-2xl lg:text-3xl mb-4 leading-12'>
            Bandung<br />Office
          </h3>
          <div class='text-stone-100 text-base space-y-1 mb-6'>
            <p>Jl. Cilaki No. 23</p>
            <p>Bandung</p>
            <p>40114</p>
          </div>
          <button
            class='bg-orange-500 hover:bg-orange-600 text-white px-6 py-2.5 text-sm transition-colors rounded-sm'
          >
            See on Map
          </button>
        </div>
      </div>

      <div class='space-y-6 fade-in-up' style='animation-delay: 1300ms;'>
        <div class='text-stone-400 text-sm'>02</div>
        <div class='border w-full border-[#232221]'></div>
        <div>
          <h3 class='text-stone-100 text-2xl lg:text-3xl mb-4 leading-12'>
            Jakarta<br />Office
          </h3>
          <div class='text-stone-100 text-base space-y-1 mb-6'>
            <p>Lina Building Lt. 2 No. 203</p>
            <p>Jl. Haji R. Rasuna Said Kav. B7</p>
            <p>Jakarta Selatan</p>
            <p>12910</p>
          </div>
          <button
            class='bg-orange-500 hover:bg-orange-600 text-white px-6 py-2.5 text-sm transition-colors rounded-sm'
          >
            See on Map
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
