---
import motionImage from "../assets/motion-placeholder.png";

const partners = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20];
---

<section class="w-full px-6 pt-3 space-y-2">
	<div class="w-full">
		<div
			class="relative bg-linear-to-b from-neutral-800 to-neutral-900 w-full text-white flex flex-col justify-center items-center text-center space-y-10 pt-64 pb-18 overflow-hidden"
		>
			<img
				src={motionImage.src}
				class="absolute z-0 left-0 top-0 h-full w-auto max-w-none"
			/>
			<h3 class="text-4xl sm:text-7xl px-3 sm:w-2/3">
				Connecting Data, Transforming Tomorrow.
			</h3>
			<h5 class="text-sm sm:text-lg text-neutral-400 px-3 sm:w-1/2">
				In today's volatile, uncertain, complex, and ambiguous (VUCA)
				environment, effective decision-making is paramount. At Braga
				Technologies, we bridge the gap of "where" and "how" by
				harnessing the power of Location Intelligence.
			</h5>
			<button class="bg-orange-700 rounded-sm text-white py-3 px-6">
				Primary CTA
			</button>
		</div>

		<div class="wrapper">
			{
				partners.map((order, index) => (
					<div
						class="item flex justify-center items-center"
						style={`animation-delay: calc(30s / ${partners.length} * (${partners.length} - ${index + 1}) * -1);`}
					>
						<img src={`/partners/logo-${order}.svg`} />
					</div>
				))
			}
		</div>
	</div>
</section>

<style>
	.wrapper {
		width: 90%;
		margin-inline: auto;
		position: relative;
		height: 108px;
		overflow: hidden;
		mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1) 20%,
			rgba(0, 0, 0, 1) 80%,
			rgba(0, 0, 0, 0)
		);
	}

	.wrapper:hover .item {
		animation-play-state: paused;
	}

	@keyframes scrollLeft {
		to {
			left: -175px;
		}
	}

	.item {
		position: absolute;
		left: max(calc(175px * 10), 100%);
		animation-name: scrollLeft;
		animation-duration: 30s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
</style>
