---
import service1 from "../assets/service-1.svg";
import service2 from "../assets/service-2.svg";
import service3 from "../assets/service-3.svg";
import service4 from "../assets/service-4.svg";
---

<section class="mx-6 pt-12 pb-36 border-t border-neutral-600">
    <h6 class="text-orange-500 text-xl mb-2">Powered by Braga</h6>
    <div class="grid grid-cols-2">
        <h3 class="text-stone-50 text-5xl">
            Sustainably Accelerating through Geospatial Tech.
        </h3>
        <p class="text-neutral-400 text-lg">
            We hear, formulate and implement each solition for you with our
            advanced geospatial expertise. Our solutions are carefully designed
            to help you today, tomorrow and for many years to come.
        </p>
    </div>
    <div class="grid grid-cols-4 gap-x-6 mt-12">
        <div class="border border-neutral-800 p-4 space-y-4">
            <div class="grid grid-cols-2">
                <h5 class="text-2xl text-stone-50">Big Data Processing</h5>
                <div class="relative">
                    <span
                        class="rounded-full border border-neutral-600 text-xs text-neutral-400 py-1 px-2 absolute right-0 bottom-0"
                    >
                        Powerful
                    </span>
                </div>
            </div>
            <img src={service1.src} alt="Big Data Processing" class="w-full" />
            <p class="text-neutral-400 text-sm">
                Technologies that integrate, process, analyze, and visualize big
                data for your collective’s solution.
            </p>
        </div>

        <div class="border border-neutral-800 p-4 space-y-4">
            <div class="grid grid-cols-2">
                <h5 class="text-2xl text-stone-50">IoT and AI Integration</h5>
                <div class="relative">
                    <span
                        class="rounded-full border border-neutral-600 text-xs text-neutral-400 py-1 px-2 absolute right-0 bottom-0"
                    >
                        Dynamic
                    </span>
                </div>
            </div>
            <img
                src={service2.src}
                alt="IoT and AI Integration"
                class="w-full"
            />
            <p class="text-neutral-400 text-sm">
                Connect to IoT and AI tools, models, or hardwares for furhterly
                advanced and integrated problem solving.
            </p>
        </div>

        <div class="border border-neutral-800 p-4 space-y-4">
            <div class="grid grid-cols-2">
                <h5 class="text-2xl text-stone-50">Rich Analytics</h5>
                <div class="relative">
                    <span
                        class="rounded-full border border-neutral-600 text-xs text-neutral-400 py-1 px-2 absolute right-0 bottom-0"
                        >Advanced
                    </span>
                </div>
            </div>
            <img src={service3.src} alt="Rich Analytics" class="w-full" />
            <p class="text-neutral-400 text-sm">
                Advanced tools that Braga provides helps to come up with
                analytics that beneficial to tackle various challanges.
            </p>
        </div>

        <div class="border border-neutral-800 p-4 space-y-4">
            <div class="grid grid-cols-2">
                <h5 class="text-2xl text-stone-50">Data Services</h5>
                <div class="relative">
                    <span
                        class="rounded-full border border-neutral-600 text-xs text-neutral-400 py-1 px-2 absolute right-0 bottom-0"
                    >
                        Global
                    </span>
                </div>
            </div>
            <img src={service4.src} alt="Data Services" class="w-full" />
            <p class="text-neutral-400 text-sm">
                Not bounded by space and time, we help in multiple platforms,
                adapting to different conditions and terrains.
            </p>
        </div>
    </div>
</section>
