---
import work1 from "../assets/work-1.jpg";
import work2 from "../assets/work-2.jpg";
import work3 from "../assets/work-3.jpg";
import work4 from "../assets/work-4.jpg";
import work5 from "../assets/work-5.jpg";
import work6 from "../assets/work-6.jpg";
import work7 from "../assets/work-7.jpg";
import work8 from "../assets/work-8.jpg";
import workDecor from "../assets/work-decor.svg";

const works = [
    {
        title: "SIPULAU Information System",
        image: work1,
        description: "The Geospatial Information Agency - BIG",
    },
    {
        title: "West Java Tourism Crisis Center (TCC)",
        image: work2,
        description: "DISPARBUD JABAR",
    },
    {
        title: "Elevating Retail Experience: KiosK",
        image: work3,
        description: "Hyundai",
    },
    {
        title: "Vessel Monitoring Integrated Fleet System",
        image: work4,
        description: "Security and Defense Sector",
    },
    {
        title: "Insights in a Glance Pertamina Dashboard",
        image: work5,
        description: "Pertamina",
    },
    {
        title: "Interactive Digital Exhibition Experience",
        image: work6,
        description: "Ritech EXPO - BRIN",
    },
    {
        title: "West Java Tourism Crisis Center (TCC)",
        image: work7,
        description: "Industry / Client Name / Sector label Here",
    },
    {
        title: "Poin AI / Merchant Acquisition",
        image: work8,
        description: "Data Collection Platform",
    },
];
---

<section class="mx-6 pt-12 pb-24 border-t border-neutral-600">
    <h6 class="text-orange-500 text-xl mb-2">Our Work</h6>
    <div class="grid grid-cols-2">
        <h3 class="text-stone-50 text-5xl w-2/3">
            Braga Solutions, Integrated to You.
        </h3>
        <p class="text-neutral-400 text-lg">
            Our interdisciplinary design and development approach accelerates
            the geospatial tech delivery to your hands.
        </p>
    </div>

    <div
        class="mt-16 grid grid-cols-4 gap-4 p-6 border border-neutral-800 rounded-sm relative"
    >
        <img
            src={workDecor.src}
            alt=""
            srcset=""
            class="absolute top-0 left-0 -z-1"
        />
        {
            works.map(({ title, image, description }) => (
                <div class="p-4 space-y-4 border border-neutral-800 rounded-sm bg-black/10">
                    <h5 class="text-2xl text-stone-50">{title}</h5>
                    <img src={image.src} class="rounded-sm w-full" />
                    <div class="flex justify-between space-x-2">
                        <p class="text-sm text-neutral-400 grow line-clamp-2">
                            {description}
                        </p>
                        <button class="text-sm text-white bg-orange-700 rounded-sm min-w-28 px-3 py-2">
                            Read More
                        </button>
                    </div>
                </div>
            ))
        }
    </div>
</section>
