---
import ctaDecor from "../../assets/blog/cta-decor.svg";
---

<section
    class="mt-12 sm:mt-24 flex flex-wrap bg-orange-700 px-6 sm:px-12 py-8 sm:py-12 mx-3 sm:mx-6 mb-12 sm:mb-24 rounded-sm items-center justify-between relative space-y-6 sm:space-y-0"
>
    <img src={ctaDecor.src} alt="" class="h-full absolute right-0 top-0 z-0 hidden sm:block" />

    <article class="text-stone-50 w-full sm:w-1/2 space-y-3 z-1">
        <h2 class="text-4xl sm:text-5xl lg:text-7xl text-center sm:text-left">Get started today</h2>
        <p class="text-base sm:text-lg text-center sm:text-left">
            Find out how you can maximize the value from data and strengthen
            your decision making
        </p>
    </article>
    <div
        class="z-1 flex sm:flex-row flex-col items-center gap-4 w-full sm:w-auto"
    >
        <button class="rounded-sm bg-stone-50 text-rose-500 px-9 py-2 text-sm w-full sm:w-auto"
            >Contact Us</button
        >
    </div>
</section>
