---
import ctaDecor from "../../assets/blog/cta-decor.svg";
---

<section
    class="mt-24 flex flex-wrap bg-orange-700 px-12 py-12 mx-6 mb-24 sm:mb-28 rounded-sm items-center justify-between relative space-y-9 sm:space-y-0"
>
    <img src={ctaDecor.src} alt="" class="h-full absolute right-0 top-0 z-0" />

    <article class="text-stone-50 w-full sm:w-1/2 space-y-3 z-1">
        <h2 class="text-7xl text-center sm:text-left">Get started today</h2>
        <p class="text-lg text-center sm:text-left">
            Find out how you can maximize the value from data and strengthen
            your decision making
        </p>
    </article>
    <div
        class="z-1 flex sm:flex-row flex-col items-center gap-4 w-full sm:w-auto"
    >
        <button class="rounded-sm bg-stone-50 text-rose-500 px-9 py-2 text-sm"
            >Contact Us</button
        >
    </div>
</section>
