---
import { fetchPosts } from "../../utils/api";

const { currentSlug } = Astro.props;
const allPosts = await fetchPosts();
const posts = allPosts.filter(post => post.slug !== currentSlug);
---

<section class="w-full px-6 grid grid-cols-4 gap-6 text-neutral-800">
    <h5 class="text-4xl">Summary</h5>
    <div class="col-span-3">
        <article class="space-y-6">
            <p>
                In mining, every decision has real-world consequences—affecting
                worker safety, operational costs, production targets, and the
                surrounding environment. The ability to see and understand the
                full spatial context is no longer a luxury, but a necessity. GIS
                equips operators with a clear, data-driven view of their
                environment, enabling them to interpret complex conditions,
                anticipate potential risks, and respond with precision.
            </p><p>
                By transforming raw spatial data into actionable insights, GIS
                bridges the gap between planning and execution. This means safer
                worksites through proactive hazard detection, more efficient
                resource allocation through optimized workflows, and more
                sustainable practices through continuous environmental
                monitoring. Ultimately, GIS empowers the mining industry to
                operate with confidence, balancing productivity with
                responsibility in an increasingly demanding world.
            </p>
        </article>
    </div>
    <div></div>
    <div class="col-span-3 mt-9">
        <p class="w-full border-b border-neutral-600 mb-12 text-neutral-500">Related Articles</p>
        <div class="w-full overflow-x-scroll">
            <div class="flex space-x-5">
                {
                    posts.map(({ title, thumbnail, client }) => (
                        <div class="p-4 space-y-4 border border-neutral-400 rounded-sm min-w-72 z-10">
                            <h5 class="text-2xl text-neutral-800">{title}</h5>
                            <img src={thumbnail} class="rounded-sm w-full" />
                            <div class="flex justify-between space-x-2">
                                <p class="text-sm text-neutral-600 grow line-clamp-2">
                                    {client}
                                </p>
                                <button class="text-sm text-white bg-orange-600 rounded-sm min-w-28 px-3 py-2">
                                    Read More
                                </button>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
