---
import Footer from "../../components/Footer.astro";
import CTA from "../../components/poin/CTA.astro";
import Hero from "../../components/poin/Hero.astro";
import Managed from "../../components/poin/Managed.astro";
import Powered from "../../components/poin/Powered.astro";
import Values from "../../components/poin/Values.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout theme="light">
    <div class="typo-poin">
        <Hero />
        <Values />
        <Powered />
        <Managed />
        <CTA />
        <Footer theme="light" />
        <div class="w-full h-6"></div>
    </div>
</Layout>

<style is:global>
    .typo-poin h1,
    .typo-poin h2,
    .typo-poin h3,
    .typo-poin h4,
    .typo-poin h5,
    .typo-poin h6 {
        font-family: "Montserrat", sans-serif;
    }
</style>
